/*------------- Whole Document---------------- */
body {
  /*background-color: coral;*/
  color: #323232;
  font-family: 'Helvetica', 'Helvetica','Helvetica';
}


/* Header font */
h1,
h2,
h3,
h4 {
  color: #323232;
  font-family: 'Helvetica', 'Helvetica','Helvetica';
  font-size: 20pt;
}



/* links */
a {
  color: #800000;
}

a:hover {
  color: #00007f; /* darker color when hovering */
}


/* TOC */
#TOC {
  color: black;
}

/* Active TOC links*/
.list-group-item.active,
.list-group-item.active:hover{
  color: #ececec;
  background-color: #800000;
  border-color: #ccc;
}

/* Hovered TOC links*/
.list-group-item:hover {
  color: #800000;
  background-color: #ececec;
  border: none;
}
